.container {
    max-width: 800px;
    margin: 100 auto;
    padding: 20px;
  }
  
  .dropdowns {
    margin-bottom: 20px;
  }
  
  canvas {
    width: 100%;
    height: 400px;
  }

  .red {
    color: red
  }

  element.style {
    height: 400p;
    width: 300px;
  }