<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fast Food Nutrition</title>
    </head>
    <body>

        <!-- Header -->
        <h1>Nutritional Data From Popular Fast Food Restaurants</h1>
      
        <!-- Image -->
        <!--<img src="https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.1/11-Web/kids_dancing_hip_hop.png" alt="children learning to dance hip-hop" />
        <br /> -->
      
        <!-- Link with New Tab -->
        <a href="https://www.google.com" target="_blank">Opens new tab</a>
        <br />
      
        <!-- Bold Link -->
        <!--<strong><a href="https://www.youtube.com">This is a bold link</a></strong>
        <br /> -->
      
        <!-- Placeholder link -->
        <!-- <a href="#">This is placeholder link goes nowhere, for now</a> -->
      
        <!-- Paragraph -->
        <p>Fast Food Analysis <br />We examined some of the most popular fast food restaurants in order to analyze the nutritional value of their items</p>
      
        <!-- Ordered List -->
        <ol>
          <li>Mcdonalds</li>
          <li>Chick-Fil-A</li>
          <li>Sonic</li>
          <li>Arbys</li>
          <li>Burger King</li>
          <li>Dairy Queen</li>
          <li>Subway</li>
          <li>Taco Bell</li>
        </ol>
      
      </body>
      
</html>