<!DOCTYPE html>
<html lang="en-us">
    <head>
      <h1>Nutritional Data for Popular Fast Food Restaurants</h1>
      <h2>Select a Restaurant and a Menu Item to see the breakdown of its Nutritional Content</h2>
        <!--<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <title>Fast Food Nutrition</title>
        <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='graphs.js') }}"></script>
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
      <div id="chartContainer"></div>
      <div>
        <label for="dropdown-restaurant">Select Restaurant</label>
        <select id="dropdown-restaurant">
          <!--<option value="Mcdonalds">Mcdonalds</option>
          <option value="Chick Fil-A">Chick Fil-A</option>
          <option value="Sonic">Sonic</option>
          <option value="Arbys">Arbys</option>
          <option value="Burger King">Burger King</option>
          <option value="Dairy Queen">Dairy Queen</option>
          <option value="Subway">Subway</option>
          <option value="Taco Bell">Taco Bell</option>-->
        </select>
      </div>
      <div>
        <label for="dropdown-item">Select Item:</label>
        <select id="dropdown-item"></select>
      </div>
      <canvas id="pieChart"></canvas>
      <canvas id="stackedBarChart"></canvas>
      <canvas  id="lineChart" style="width: 600px; height: 400px;"></canvas>
    </body>
    
      
</html>
