<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fast Food Nutrition</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
      <!-- Average nutrient chart-->
      <canvas id="stackedBarChart"></canvas>
      <div id="fast-food-scatter-plot">
      </div>
      <div>
        <label for="item-select">Select Item:</label>
        <select id="item-select"></select>
      </div>
      <div>
        <label for="restaurant-select">Select Restaurant:</label>
        <select id="restaurant-select">
          <option value="Mcdonalds">Mcdonalds</option>
          <option value="Chick Fil-A">Chick Fil-A</option>
          <option value="Sonic">Sonic</option>
          <option value="Arbys">Arbys</option>
          <option value="Burger King">Burger King</option>
          <option value="Dairy Queen">Dairy Queen</option>
          <option value="Subway">Subway</option>
          <option value="Taco Bell">Taco Bell</option>
          <!-- Add more restaurant options as needed -->
        </select>
      </div>
      <canvas  id="lineChart"></canvas>>
      </body>
       <!-- Include your script files -->
      <script src="{{ url_for('static', filename='graphs.js') }}"></script>
      
</html>
